{
  extends: 'standard-with-typescript',
  parserOptions: {
    project: './tsconfig.json',
  },
  plugins: [
    'svelte3'
  ],
  overrides: [
    {
      files: ['*.svelte'],
      processor: 'svelte3/svelte3'
    }
  ],
  rules: {
    'comma-dangle': ['error', 'always-multiline'],
    'import/no-absolute-path': 'off',
  },
}
