{
  parser: '@babel/eslint-parser',
  parserOptions: {
    requireConfigFile: false,
    ecmaVersion: 2021,
    sourceType: 'module',
    babelOptions: {
      presets: ['@babel/preset-react'],
   },
    ecmaFeatures: {
      jsx: true,
    },
  },
  extends: [
    'plugin:react/recommended',
    'standard',
  ],
  plugins: [
    'react',
  ],
  rules: {
    'comma-dangle': ['error', 'always-multiline'],
    'react/prop-types': 'off',
    'import/no-absolute-path': 'off',
  },
  settings: {
    react: {
      version: '18.0',
    },
  },
}
